body {
    margin: 0px;
    font-family: 'OpenSans', sans-serif;  
    font-size: 16px;
}

#header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    text-align:center;
    font-size: 22px;
    background-color: #2c7fb8;
    color: #fff
	       
}

#entry {
    clear: both;
    padding-top: 20px;
    padding-bottom: 0px;
}

#container {
    margin-bottom: 120px;
}

.dataset {
    font-weight: normal;
    font-size: 12px;
}

#title {
    font-weight: bold;
    height: 50px;
    width: 30%;
    float: left;
    padding-left: 15px;
}

#description {
    padding-left: 15px;
    background-color: #EEEEEE;
    height: 100px;
    width: 60%;
    float: left;
}

#dataset li
{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    font-size: 12px;
}

#footer {
    clear: both;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    background-color: #2c7fb8;
}

#footer a:link {
    text-decoration:none;
    color: #fff;
}

#footer a:hover {
    text-decoration:none;
    color: #253494;
}

a:link {
    text-decoration:none;
    color: #0868ac;
}
a:visited {
    text-decoration:none;
    color: #0868ac;
}
a:hover {
    text-decoration:none;
    color: #253494;
}
