body {
    margin: 0px;
    font-family: 'OpenSans', sans-serif;  
    font-size: 16px;
}

#header {
    height: 100px;
    text-align:center;
    font-size: 22px;
}

#entry {
    clear: both;
    padding-top: 20px
}

#container {
}

.dataset {
    font-weight: normal;
    font-size: 12px;
}

#title {
    font-weight: bold;
    height: 50px;
    width: 30%;
    float: left;
    padding-left: 15px;
}

#description {
    padding-left: 15px;
    background-color: #EEEEEE;
    height: 100px;
    width: 50%;
    float: left;
}